<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobHcAutomater2App.compaign.home.title">Compaigns</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-compaign" [routerLink]="['/compaign/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobHcAutomater2App.compaign.home.createLabel">
            Create new Compaign
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="compaigns">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ref"><span jhiTranslate="jobHcAutomater2App.compaign.ref">Ref</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="jobHcAutomater2App.compaign.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="desciption"><span jhiTranslate="jobHcAutomater2App.compaign.desciption">Desciption</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="img"><span jhiTranslate="jobHcAutomater2App.compaign.img">Img</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let compaign of compaigns ;trackBy: trackId">
                <td><a [routerLink]="['/compaign', compaign.id, 'view' ]">{{compaign.id}}</a></td>
                <td>{{compaign.ref}}</td>
                <td>{{compaign.title}}</td>
                <td>{{compaign.desciption}}</td>
                <td>
                    <a *ngIf="compaign.img" (click)="openFile(compaign.imgContentType, compaign.img)">
                        <img [src]="'data:' + compaign.imgContentType + ';base64,' + compaign.img" style="max-height: 30px;" alt="compaign image"/>
                    </a>
                    <span *ngIf="compaign.img">{{compaign.imgContentType}}, {{byteSize(compaign.img)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/compaign', compaign.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/compaign', compaign.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'compaign/'+ compaign.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
