<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-candidature-heading" jhiTranslate="jobHcAutomater2App.candidature.home.createOrEditLabel">Create or edit a Candidature</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!candidature.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="candidature.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobHcAutomater2App.candidature.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="candidature.status" id="field_status"  required>
                        <option value="POSSIBLE">{{'jobHcAutomater2App.Status.POSSIBLE' | translate}}</option>
                        <option value="IN_DISCUSSION">{{'jobHcAutomater2App.Status.IN_DISCUSSION' | translate}}</option>
                        <option value="Selected">{{'jobHcAutomater2App.Status.Selected' | translate}}</option>
                        <option value="Rejected">{{'jobHcAutomater2App.Status.Rejected' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobHcAutomater2App.candidature.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="candidature.date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobHcAutomater2App.candidature.profilCandidate" for="field_profilCandidate">Profil Candidate</label>
                    <select class="form-control" id="field_profilCandidate" name="profilCandidate" [(ngModel)]="candidature.profilCandidate" required >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profilCandidateOption.id === candidature.profilCandidate?.id ? candidature.profilCandidate : profilCandidateOption" *ngFor="let profilCandidateOption of profilcandidates; trackBy: trackProfilCandidateById">{{profilCandidateOption.firstName}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobHcAutomater2App.candidature.post" for="field_post">Post</label>
                    <select class="form-control" id="field_post" name="post" [(ngModel)]="candidature.post" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="postOption.id === candidature.post?.id ? candidature.post : postOption" *ngFor="let postOption of posts; trackBy: trackPostById">{{postOption.title}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
