<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="source">
            <h2><span jhiTranslate="jobHcAutomater2App.source.detail.title">Source</span> {{source.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jobHcAutomater2App.source.name">Name</span></dt>
                <dd>
                    <span>{{source.name}}</span>
                </dd>
                <dt><span jhiTranslate="jobHcAutomater2App.source.url">Url</span></dt>
                <dd>
                    <span>{{source.url}}</span>
                </dd>
                <dt><span jhiTranslate="jobHcAutomater2App.source.publicKey">Public Key</span></dt>
                <dd>
                    <span>{{source.publicKey}}</span>
                </dd>
                <dt><span jhiTranslate="jobHcAutomater2App.source.tokenApi">Token Api</span></dt>
                <dd>
                    <span>{{source.tokenApi}}</span>
                </dd>
                <dt><span jhiTranslate="jobHcAutomater2App.source.searchingUrl">Searching Url</span></dt>
                <dd>
                    <span>{{source.searchingUrl}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/source', source.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
