<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="socialMedia">
            <h2><span jhiTranslate="jobHcAutomater2App.socialMedia.detail.title">Social Media</span> {{socialMedia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jobHcAutomater2App.socialMedia.value">Value</span></dt>
                <dd>
                    <span jhiTranslate="{{'jobHcAutomater2App.SocialMediaType.' + socialMedia.value}}">{{socialMedia.value}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/social-media', socialMedia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
