<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-email-heading" jhiTranslate="jobHcAutomater2App.email.home.createOrEditLabel">Create or edit a Email</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!email.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="email.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobHcAutomater2App.email.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="email.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobHcAutomater2App.email.profession" for="field_profession">Profession</label>
                    <input type="text" class="form-control" name="profession" id="field_profession"
                        [(ngModel)]="email.profession" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobHcAutomater2App.email.email" for="field_email">Email</label>
                    <input type="email" class="form-control" name="email" id="field_email"
                        [(ngModel)]="email.email"  email="true" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobHcAutomater2App.email.category" for="field_category">Category</label>
                    <select class="form-control" name="category" [(ngModel)]="email.category" id="field_category"  required>
                        <option value="JOB">{{'jobHcAutomater2App.EmailingCategory.JOB' | translate}}</option>
                        <option value="NEWS">{{'jobHcAutomater2App.EmailingCategory.NEWS' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
