<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="email">
            <h2><span jhiTranslate="jobHcAutomater2App.email.detail.title">Email</span> {{email.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jobHcAutomater2App.email.name">Name</span></dt>
                <dd>
                    <span>{{email.name}}</span>
                </dd>
                <dt><span jhiTranslate="jobHcAutomater2App.email.profession">Profession</span></dt>
                <dd>
                    <span>{{email.profession}}</span>
                </dd>
                <dt><span jhiTranslate="jobHcAutomater2App.email.email">Email</span></dt>
                <dd>
                    <span>{{email.email}}</span>
                </dd>
                <dt><span jhiTranslate="jobHcAutomater2App.email.category">Category</span></dt>
                <dd>
                    <span jhiTranslate="{{'jobHcAutomater2App.EmailingCategory.' + email.category}}">{{email.category}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/email', email.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
